# macOS
.DS_Store
# Python
__pycache__/
*.pyc
.venv/
state.json
weekly_summary_raw.json
monthly_summary_raw.json
fetched_table_sanitized.html
slack_failure_payload.json
# Playwright
playwright/.cache/
# VS Code
.vscode/
# Testing & Coverage
.coverage
coverage.xml
htmlcov/
.pytest_cache/
